:root{
    --soft-blue: hsl(215, 51%, 70%);
    --cian: hsl(178, 100%, 50%);
    --mobile: 375px;
    --desktop: 1440px;
    --main-bg: hsl(217, 54%, 11%) ;
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --font: 18px;
    font-family: 'Outfit', sans-serif;
    --font-title: 20px;
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--main-bg);
    
}

.content{
    background-color: var(--soft-blue);
    border-radius: 1rem;
    padding: 1rem;
    

}
ul{
    list-style: none;

}
li{
    display: grid;
    grid-template-areas: 1fr 1fr;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--card-bg);
    border-radius: 5%;
}
.card-img{
    width: 300px;
    height: 300px;
}img{
    width: 70%;
    height: 70%;
    display: block;
    margin: auto;
    padding: 1rem;
    border-radius: 1.8rem;
}

footer{
    bottom: 0;
}
.attribution{
    bottom: 0;

}
.card-title{
    font-size: var(--font-title);
    color: var(--white);
    font-weight: bold;
    margin: 1rem;
    
    
}
.card-subtitle{
    color: var(--soft-blue);
}
